<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
    <%if(error){%>
        <div>
           <h3><%=error%></h3>
        </div>
    <%}%>
    
    <%if(success){%>
    <div>
         <h3><%=success%></h3>
    </div>
         
    <%}%>
  